* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    border: 1px dotted black;
}

.cell {
    background-color: lightgray;
}

#grid-size-button {
    text-align: center;
    margin: 40px 0 50px 0;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    color: aliceblue;
    background-color: teal;
    border: none;
}

#grid-size-button:hover {
    background-color: slategray;
    color: antiquewhite;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}